/* General styles */

body {
  display: flex;
  justify-content: center;
  background-color: rgb(54, 54, 54);
}

.App {
  width: 600px;
}

/* Form styles */

.add-task-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#new-task {
  padding: 10px;
  border: 2px solid #0078d7;
  margin-right: 10px;
  width: 100%;
}

#new-task {
  border-color: #005ba1;
}

/* List styles */

.tasks-list {
  margin: 15px;
}

/* Task styles */

.task {
  display: flex;
  justify-content: space-between;
  background-color: #417eaf;
  position: relative;
  margin-top: 2px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.task-appear{
  opacity: 1;
}

.task:hover{
  background-color: #5bb5ff;
}

.task > input,
.task > button {
  visibility: hidden;
}

.task-isDone {
  background-color: rgba(107, 107, 107, 0.774);
}

.task-text {
  width: 100%;
}

p.date {
  right: 0px;
}

.task:hover > input,
.task:hover > button {
  visibility: visible;
}

/* Checkbox styles */

.task-checkbox {
  appearance: none;
  margin-left: 5px;
  margin-top: 5px;
  width: 40px;
  border: 2px solid #0078d7;
  transition: background 0.3s;
}

.task-checkbox:checked {
  background-color: #0078d7;
}

.task-checkbox:hover {
  z-index: 1;
  background-color: #29b100;
  border: 2px solid #29b100;
  box-shadow: 0 0 0 2px #29b100;
}

.task-checkbox:hover::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 3px solid #168500;
}

.task-checkbox:active {
  box-shadow: 0 0 0 2px #00458b;
}

/* Button styles */

button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #0078d7;
  transition: background 0.3s;
}

button:hover {
  background-color: #0060af;
}

button:active {
  background-color: #014b88;
}

/* Delete button styles */

.task-delete-button:hover {
  background-color: #ac0017;
  z-index: 1;
}

.task-delete-button:hover::after {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border: 3px solid #850012;
}

.task-delete-button:active{
  background-color: #850012;
}